.outer-about-container{
    border: 1px blue solid;
    min-width:425px;
    display: block;
    position:absolute;
    z-index:15;
    top:50%;
    left:50%;
    margin:-250px 0 0 -200px;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: -webkit-linear-gradient(#3498db, #8ac6ed,#8ac6ed,#3498db,blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3498db, #8ac6ed,#8ac6ed,#3498db,blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3498db, #8ac6ed,#8ac6ed,#3498db,blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3498db, #8ac6ed, #8ac6ed,#3498db,blue); /* Standard syntax */
}
.inner-about-title{
    text-align: center;
    font-size: 2em;
    padding:10px;
    border-radius: 4px;
    margin-bottom: 10px;  
    border: 3px #d35400 solid;
    color:white;
    background-color: #f39c12;
    font-family: Audiowide;
}
.inner-about-container{
    border: 1px red solid;
    min-height: 350px;
    min-width:325px;
    border-radius: 4px;
    background-color: white;
    border: 3px #d35400 solid;
}
.inner-about-footer{
    text-align: center;
    font-size: 2em;
    padding:10px;
    border-radius: 4px;
    margin-top: 10px;
    border: 3px #d35400 solid;
    color:white;
    background-color: #f39c12;
    font-family: Audiowide;
}

#exit_about_button{
    width: 95px;
    height: 36px;
    background: url(../img/close1.png) no-repeat;
    background-size: contain;
    outline:0;
}

#exit_about_button:hover{
    width: 96px;
    height: 36px;
    background: url(../img/close2.png) no-repeat;
    background-size: contain;

}
#exit_about_button:active{
    width: 96px;
    height: 36px;
    background: url(../img/close3.png) no-repeat;
    background-size: contain;

}
