.outer-signup-container{
    border: 5px blue solid;
    min-width: 300px;
    padding-bottom: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    border-radius: 10px;
    z-index:15;
    padding-top:20px;
    background: -webkit-linear-gradient(#3498db, #8ac6ed,#8ac6ed,#3498db,blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3498db, #8ac6ed,#8ac6ed,#3498db,blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3498db, #8ac6ed,#8ac6ed,#3498db,blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3498db, #8ac6ed, #8ac6ed,#3498db,blue); /* Standard syntax */
    
}

.inner-header-container{
    border: 1px red solid;
    width:280px;
    height:40px;
    border-radius: 10px;
    margin: 10px auto;
}
.inner-title-container{
    border: 3px #d35400 solid;
    text-align: center;
    color:white;
    background-color: #f39c12;
    font-family: Audiowide;
}
.inner-body-container{
    
}
.inner-body-container div{
    padding-top: 2px;
    padding-left:5px;
}

.inner-footer-container{
    border: 1px red solid;
}

.label{
    width: 100px;
    display:inline-block;
}
.input{
    display:inline-block;
}
.inner-button-container{
    text-align: center;
    padding-top:20px;
}


#error-fname, #error-lname, #error-password, #error-username, #error-email,#error-username-exists,#error-email-exists{
    color:red;
    text-align: center;
}